---
layout: default
title: Cruise-Ins
permalink: /cruise-ins/
---

<div class="home">

  <h3 class="page-announcement"> Website under construction! If you know of any events in the Knoxville area we don't have listed here, please email us at <a href="mailto:knoxgearhead@knoxgearhead.com">knoxgearhead@knoxgearhead.com</a>.</h1>

  <h1 class="page-heading">Upcoming Cruise-Ins</h1>

  <ul class="post-list">
    {% for post in site.categories.cruiseins reversed %}
    <span class="post-row">
        <span class="post-meta">{{ post.date | date: "%A, %b %-d, %Y" }} {% if post.end_date %} - {{ post.end_date | date: "%A, %b %-d, %Y" }}{% endif %}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 600, "..."}}</a>
        <span class="post-meta">{{ post.location | truncate: 20, "..." }}</span>
    </span>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
